.resize-animation-stopper * {
	transition: none !important;
	animation: none !important;
}

html,
body {
	padding: 0;
	margin: 0;
	background: #125;
	overflow: hidden;
}

:root::-webkit-scrollbar {
	display: none;
}

#title {
	font-family: "Rock Salt", cursive;
	transform: translateX(-100vw);
	transition: transform 1s ease-in-out;
	position: absolute;
}

#menu_nav {
	transform: translateX(100vw);
	transition: transform 1s ease-in-out;
	width: fit-content;
}

.wrap_title {
	width: fit-content;
}

#mob-menu {
	transform: translate(100vw, -50%);
	transition: transform 1s ease-in-out;
}

#mob-menu-panel {
	transition: transform 0.4s linear;
	transform: translateX(100vw);
}

#mob-menu-panel.show {
	transform: translateX(0);
}

#menu_nav span {
	transition: transform 0.2s ease-in-out;
}

#menu_nav .span_wrap {
	transition: margin-left 0.2s ease-in-out 0s, transform 0.4s ease-in-out 0s;
	transform: translateY(4.75rem);
}

#menu_nav > .span_wrap::after {
	transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
	border-top: 1px solid white;
	content: "";
	margin-top: 0.5vh;
	margin-left: 1rem;
	display: block;
	width: calc(100% - 2rem);
}

#title.show {
	transform: translateX(calc(50vw - 50%));
}

#menu_nav.show {
	transform: translateX(calc(50vw - 50%));
}

#mob-menu.show {
	transform: translate(0, -50%);
}

#title.collapsed {
	transform: translateX(3vw);
}

#menu_nav.collapsed {
	transform: translateX(calc(100vw - 100% - 3vw));
}

#menu_nav.collapsed > .span_wrap {
	transition: margin-left 0.2s ease-in-out 0s, transform 0.4s ease-in-out 0.4s;
	transform: translateY(1.5rem);
}

#menu_nav > .span_wrap.hide_border:not(.active)::after {
	width: 0;
	margin-left: 50%;
}

#panel1 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("/static/assets/arvin_img.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#panel2 {
	background: #ca8;
}

#panel3 {
	background: #0a2;
}

#panel4 {
	background: #169;
}

#iAm {
	font-family: "Source Code Pro", monospace;
	left: 50vw;
	top: 50vh;
	text-align: center;
	transform: translate(-50%, -50%);
}

#iAm.blinking::after {
	content: "";
	border-left: 1px solid white;
	animation: blinky 0.3s ease-in-out 0s infinite alternate;
}

@keyframes blinky {
	from {
		border-left: 1px solid white;
	}
	to {
		border-left: 1px solid transparent;
	}
}

i[name] {
	position: absolute;
}

.downy {
	display: inline-block;
	top: 90vh;
	left: 50vw;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 50;
}

.downy::before {
	color: white;
	font-size: 4vw;
	width: 0px;
}

.upy {
	display: inline-block;
	top: 10vh;
	left: 50vw;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 50;
}

.upy::before {
	color: white;
	font-size: 4vw;
	width: 0px;
}

.lefty {
	display: inline-block;
	top: 50vh;
	left: 90vw;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 50;
}

.lefty::before {
	color: white;
	font-size: 4vw;
	width: 0px;
}

.righty {
	display: inline-block;
	top: 50vh;
	left: 10vw;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 50;
}

.righty::before {
	color: white;
	font-size: 4vw;
	width: 0px;
}

.panel {
	transition: transform 1s linear;
}

.left_start {
	transform: translateX(-100vw);
}

.left_start.show {
	transform: translateX(0vw);
}

.left_start.exit {
	transform: translateX(100vw);
}

.right_start {
	transform: translateX(100vw);
}

.right_start.show {
	transform: translateX(0vw);
}

.right_start.exit {
	transform: translateX(-100vw);
}

.top_start {
	transform: translateY(-100vh);
}

.top_start.show {
	transform: translateY(0vh);
}

.top_start.exit {
	transform: translateY(100vh);
}

.bottom_start {
	transform: translateY(100vh);
}

.bottom_start.show {
	transform: translateY(0vh);
}

.bottom_start.exit {
	transform: translateY(-100vh);
}

.up_left_start {
	transform: translateY(100vh);
}

.up_left_start.show {
	transform: translateY(0vh);
}

.up_left_start.exit {
	transform: translateX(-100vw);
}

.left_up_start {
	transform: translateX(100vw);
}

.left_up_start.show {
	transform: translateX(0vw);
}

.left_up_start.exit {
	transform: translateY(-100vh);
}
